<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.security.springboot.dao.RoleMapper">
    <sql id="Base_Column_List">
    id, role, name, modules, description
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.zhou.security.springboot.model.Role">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zhou.security.springboot.model.Role">
    insert into sys_role (id, role, name, 
      modules, description)
    values (#{id,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{modules,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zhou.security.springboot.model.Role">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="modules != null">
                modules,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="role != null">
                #{role,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="modules != null">
                #{modules,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zhou.security.springboot.model.Role">
        update sys_role
        <set>
            <if test="role != null">
                role = #{role,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="modules != null">
                modules = #{modules,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zhou.security.springboot.model.Role">
    update sys_role
    set role = #{role,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      modules = #{modules,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="pageQuery" resultType="com.zhou.security.springboot.model.Role">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        <if test="role !=null and role!=''">
            where role like concat('%',#{role},'%')
        </if>
        limit #{start},#{pageSize}
    </select>
    <select id="queryTotal" resultType="java.lang.Long">
        select count(1) from sys_role
        <if test="role !=null and role!=''">
            where role like concat('%',#{role},'%')
        </if>
    </select>
</mapper>